<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('/assets/images/favicon.png') }}">

    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/scroll.js') }}"></script>
    <script src="{{ asset('assets/js/search.js') }}"></script>
    <script src="{{ asset('assets/js/fluid.js') }}"></script>
    <script src="{{ asset('assets/js/profileFormations.js') }}"></script>

    <title>{% block title %}No Age{% endblock %}</title>



    <title>{% block title %}{% endblock %}</title>

    {% block stylesheet %}{% endblock %}

    <link rel="icon" href="/assets/images/favicon.png">



    {% block javascript %}{% endblock %}
</head>

<body>


<nav class="navbar navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="    ">
{% block nav %}

    <div class="container-fluid">
        <a class="navbar-brand" href="/">
        <img src="/assets/images/favicon-96x96.png" width="96" height="96" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand text-white" href="/">No Age</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  " id="navbarSupportedContent">
            <ul class="nav navbar-nav justify-content-end ">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('homepage') }} ">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('search') }}">Recherche<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('contact') }}">Contact<span class="sr-only">(current)</span></a>
                </li>
                {% if app.user %}
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="{{ path('profil') }}">Mon Profil<span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('new') }}">Ajouter une Formation<span class="sr-only">(current)</span></a>
                </li>
                {% if app.user %}
                    <li class="nav-item loginbtn ">
                        <a href="{{ path('logout') }}" role="button" aria-disabled="true"><button class="loginBtn text-white btn btn-outline-secondary waves-effect btn-lg">Se déconnecter</button></a>
                    </li>
            </ul>
<body id="">
    <nav class="navbar navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
            <img src="/assets/images/favicon-96x96.png" width="96" height="96" class="d-inline-block align-top" alt="">
            </a>
            <a class="navbar-brand text-white" href="/">No Age</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  " id="navbarSupportedContent">
                <ul class="nav navbar-nav justify-content-end ">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('homepage') }} ">Accueil<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('search') }}">Recherche<span class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('contact') }}">Contact<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        {% if app.user %}
                        <a class="nav-link text-white" href="{{ path('profil', {id: app.user.id}) }}">Mon Profil<span class="sr-only">(current)</span></a>
                        {% else %}
                            <a class="nav-link text-white" href="{{ path('login') }}">Mon Profil<span class="sr-only">(current)</span></a>

                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('new') }}">Ajouter une Formation<span class="sr-only">(current)</span></a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item loginbtn ">
                            <a href="{{ path('logout') }}" role="button" aria-disabled="true"><button class="loginBtn text-white btn btn-outline-secondary waves-effect btn-lg">Se déconnecter</button></a>
                        </li>
                    {% else %}
                        <li class="nav-item loginbtn ">
                            <a href="{{ path('login') }}" role="button" aria-disabled="true"><button class="loginBtn text-white btn btn-outline-secondary waves-effect btn-lg">Se Connecter</button></a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <div class="footer-left">
            <p class="footer-links">
                <a href="{{ path('homepage') }}">Accueil</a>
                ·
                <a href="{{ path('contact') }}">Contact</a>
                ·
                <a href="#">Mentions légales</a>
                ·
                <a href="#">Conditions générales de vente</a>
            </p>
            <p>No Age &copy; 2018</p>
        </div>
    </footer>
    <script>

        toastr.options = {
            "positionClass": "toast-bottom-full-width"
        };

        /* type pour Toastr => success, info, warning, error*/
        {% for type, messages in app.flashes %}
            let type = '{{ type }}';

            {% for message in messages %}
                if (type === 'danger') {
                    toastr['error']('{{ message }}');
                } else if (type === 'warning') {
                    toastr['warning']('{{ message }}');
                } else if (type === 'success') {
                    toastr['success']('{{ message }}');
                } else {
                    toastr['info']('{{ message }}');
                }
            {% endfor %}
        {% endfor %}

    </script>
</body>

</html>