<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('/assets/images/favicon.png') }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/scroll.js') }}"></script>
    <script src="{{ asset('assets/js/search.js') }}"></script>
    <script src="{{ asset('assets/js/fluid.js') }}"></script>
    <script src="{{ asset('assets/js/profileFormations.js') }}"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>

    <title>{% block title %}No Age{% endblock %}</title>

    {% block stylesheet %}{% endblock %}
    {% block javascript %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="/assets/images/favicon-96x96.png" width="45" height="45"> KnowAge
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }} ">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('search') }}">Recherche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
                {% if app.user %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('profil', {id: app.user.id}) }}">Mon Profil</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('new') }}">Ajouter une Formation</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link text-white btn btn-outline-secondary" href="{{ path('logout') }}" role="button">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white btn btn-outline-secondary" href="{{ path('login') }}" role="button">Se Connecter</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>


    {% block sub_header %}
        <div class="bg-second py-3">
            <h1 class="text-uppercase">{% block h1 %}{% endblock %}</h1>
            {% block breadcrumb %}{% endblock %}
        </div>
    {% endblock %}



        {% block content %}{% endblock %}




    <footer class="bg-dark py-2 text-center">
        <div class="container">
            <div class="mb-2">
                <a href="{{ path('homepage') }}">Accueil</a>
                ·
                <a href="{{ path('contact') }}">Contact</a>
                ·
                <a href="{{ path('legalMention') }}">Mentions légales</a>
                ·
                <a href="#">Conditions générales de vente</a>
            </div>
            <div class="text-white">No Age &copy; 2018</div>
        </div>
    </footer>

    <script>
        {% block toast %}
        toastr.options = {
            "positionClass": "toast-top-full-width",
            "showDuration": "500",
            "progressBar": true
        };
        {% endblock %}
        /* type pour Toastr => success, info, warning, error*/
        {% for type, messages in app.flashes %}
        var type = '{{ type }}';
        {% for message in messages %}
        if (type === 'danger') {
            toastr['error']('{{ message }}');
        } else if (type === 'warning') {
            toastr['warning']('{{ message }}');
        } else if (type === 'success') {
            toastr['success']('{{ message }}');
        } else {
            toastr['info']('{{ message }}');
        }
        {% endfor %}
        {% endfor %}
    </script>
</body>

</html>