{% extends 'layout.html.twig' %}
{% block title %} Mot de passe oublié {% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/landingFormateur.css">{% endblock %}

{% block content %}
    <body id="">
    <div class="container-fluid ">
        <h2>{% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </h2>
        <div class="row title mt-5 mb-4">
            <div class="col-md-12 mt-3 text-center">
            {{ form_start(form) }}
                 {{ form_widget(form.email) }}
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12 mb-4 mt-4 text-center">
                <button type="submit" class="btn btn-primary mt-4 btn-lg round" >Envoyer</button>
            </div>
        </div>
        {{ form_end(form) }}
        <hr>
    </div>

{% endblock %}
