{% extends 'layout.html.twig' %}

{% block title %} Profil {% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/profile.css">{% endblock %}

{% block content %}
<body id="profile">
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-center ml-5">
            <div class="ml-1"><img src="{{ app.user.profilePic }} " style="height: 180px; width: 180px;"></div>
            <div class="d-flex mt-2">
                <button id="formationToggle1" class="btn btn-outline-primary waves-effect mr-1">Etudiant</button>
                <button id="formationToggle2" class="btn btn-outline-primary waves-effect ml-1 ">Formateur</button>
            </div>
        </div>

        <div class="d-flex flex-column ml-5 profileinfo">
            <div class="d-flex p-2" ><label> Nom: </label><p class="pl-2"> {{ app.user.name }} </p></div>
            <div class="d-flex p-2"><label> Prenom: </label><p class="pl-2"> {{ app.user.firstName }} </p></div>
            <div class="d-flex p-2"><label> Pseudo: </label><p class="pl-2"><p>{{ app.user.nickname }}</p></div>
            <div class="d-flex  p-2"><label> Email: </label><p class="pl-2"><p>{{ app.user.email }}</p></div>
        </div>
        <div class="d-flex flex-column ml-5 justify-content-between">
            <div class="d-flex flex-row">
                <div>
                    <a href="{{ path('update_profil') }}" role="button" aria-disabled="true">
                        <button class="btn btn-outline-primary waves-effect mr-1">Modifier mon Profil</button>
                    </a>
                </div>
                <div>
                    <a href="{{ path('update_password') }}" role="button" aria-disabled="true">
                        <button class="btn btn-outline-primary waves-effect mr-1">Modifier Password</button>
                    </a>
                </div>
            </div>
            <div> <button class="btn btn-outline-primary waves-effect ">Mes Formations</button></div>
            <div> <button class="btn btn-outline-primary waves-effect ">Mes Formateurs</button></div>
        </div>
        <div class="d-flex flex-column ml-5 justify-content-center">

            <button class="favorite btn"><i  class="far fa-heart fa-5x favorite"> </i></button>
        </div>
    </div>
<hr >
<div id="cree" >
    <h1>Formation Cree</h1>
    <div class="container formation">
        <div class="d-flex flex-column">
            {% for formationcreated in formationscreated %}
            {% if loop.index is odd %}
            <div class="row">
                {% endif %}
            <div class="col-6 mt-5">
                <div class="column">
                    <!-- Post-->
                    <div class="post-module">
                        <!-- Thumbnail-->
                        <div class="thumbnail">
                            <img src="{{ formationcreated.picture }}" class="img-responsive" alt=""> </div>
                        <!-- Post Content-->
                        <div class="post-content">
                            <div class="category">{{ formationcreated.category }}</div>
                            <h1 class="title">{{ formationcreated.id }} - {{ formationcreated.title}}</h1>
                            <h2 class="sub_title">{{ formationcreated.author.firstname}} {{ formationcreated.author.name}}</h2>
                            <p class="description"> {{ formationcreated.description }}</p>
                            <div class="post-meta">
                                <a href="#" class="btn btn-sm btn-outline-secondary waves-effect mr-3">Voir la formation</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% if loop.index is even or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div id="bought">
    <h1>Formation Suivee</h1>
    <div class="container formation">
        <div class="d-flex flex-column">
            {% for paiement in paiements %}
                {% if loop.index is odd %}
                    <div class="row">
                {% endif %}
                <div class="col-6 mt-5">
                    <div class="column">
                        <!-- Post-->
                        <div class="post-module">
                            <!-- Thumbnail-->
                            <div class="thumbnail">
                                <img src="{{ paiement.formation.picture }}" class="img-responsive" alt=""> </div>
                            <!-- Post Content-->
                            <div class="post-content">
                                <div class="category">{{ paiement.formation.category }}</div>
                                <h1 class="title">{{ paiement.formation.title}}</h1>
                                <h2 class="sub_title">{{ paiement.formation.author.firstname}} {{ paiement.formation.author.name}}</h2>
                                <p class="description"> {{ paiement.formation.description }}</p>
                                <div class="post-meta">
                                    <a href="#" class="btn btn-sm btn-outline-secondary waves-effect mr-3">Voir la formation</a>
                                    <button class="favoriteSearch btn" data-formation-id="{{ paiement.formation.id }}">
                                        {% if user.isFormationFavorited(paiement.formation) %}
                                            <i id="favoriteSearch" class="fas fa-heart fa-2x"  style="color:Tomato"> </i>
                                        {% else %}
                                            <i id="favoriteSearch" class="far fa-heart fa-2x"  style="color:Tomato"> </i>
                                        {% endif %}

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.index is even or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.favoriteSearch').click(function() {
            var icon = $(this).find("i");
            if (icon.hasClass("far")) {
                $.get( '/user/favorite', {
                    formationId: $(this).attr('data-formation-id'),
                    favorited: false
                });
                return icon.removeClass("far").addClass("fas");
            } else {
                $.get( '/user/favorite', {
                    formationId: $(this).attr('data-formation-id'),
                    favorited: true
                });
                return icon.removeClass("fas").addClass("far");
            }




        });
    });
</script>
{% endblock %}




