{% extends 'layout.html.twig' %}
{% block title %} Profil {% endblock %}

{% block h1 %}Profil{% endblock %}

{% block content %}

<div class="container mt-5 py-3">
    <div class="card mb-5">
        <div class="row py-3 justify-content-center bg-second">
            <div class="col-4 mx-1 my-1">
                {%  if  app.user.profilePic %}
                    <div><img class="w-100" style="border: 2px solid grey;" src="{{ app.user.profilePic }}" ></div>
                {% else %}
                    <div class="ml-1 image-responsive"><img src="https://upload.wikimedia.org/wikipedia/en/b/b1/Portrait_placeholder.png" style="height: 180px; width: 180px;"></div>
                {%  endif %}
            </div>
            <div class="col-3 px-3 align-middle" style="display: flex;align-items: center">
                <div class="card-block ml-5 px-3">
                    <p class="card-title">
                        {% if user.name %}
                            <div><p class="typo-main"><span class="font-weight-bold"> Nom: </span> {{ user.name }} </p></div>
                        {% endif %}
                        {% if  user.firstName %}
                            <div><p class="typo-main"><span class="font-weight-bold"> Prenom:</span> {{ user.firstName }} </p></div>
                        {% endif%}
                    </p>
                <p class="card-text typo-main"><span class="font-weight-bold">Pseudo:</span> {{ user.nickname }}</p>
                <p class="card-text typo-main"><span class="font-weight-bold">Email:</span> {{ user.email }}</p>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <div class="py-4" style="display: flex; align-items: center">
                <div class="my-3 ml-4">
                    <a href="{{ path('update_profil') }}" role="button" aria-disabled="true">
                        <button class="btn Button1 mr-1">Modifier mon Profil</button>
                    </a>
                </div>
                <div>
                    <a href="{{ path('update_password') }}" role="button" aria-disabled="true">
                        <button class="btn Button1 mr-1">Modifier mon mot de passe</button>
                    </a>
                </div>
            </div>
            <div class="d-flex  ml-5 justify-content-center">
                {% if app.user != user %}
                    <button data-formateur-id="{{ user.id }}" class="btn favoriteFormateur js-favorite">
                        {% if currentuser.isFormateurFavorited(user) %}
                            <i class="fas fa-heart fa-5x"></i>
                        {% else %}
                            <i class="far fa-heart fa-5x"></i>
                        {% endif %}
                    </button>
                {% endif %}
            </div>
        </div>

    </div>
</div>
    </div>



    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active text-dark" href="#etudiant" role="tab" data-toggle="tab">Formations achetées ({{payments|length}})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="#formateur" role="tab" data-toggle="tab">Formation crées ({{formationscreated|length}})</a>
        </li>
        <li class="nav-item">
            {% if app.user == user %}
                <a class="nav-link text-dark" href="#favoriteFormations" role="tab" data-toggle="tab">Formations favorites ({{favoriteformations|length}})</a>
            {% else %}
                <a class="nav-link text-dark" href="#favoriteFormations" role="tab" data-toggle="tab">Leurs Formations favorites ({{favoriteformations|length}})</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if app.user == user %}
                <a class="nav-link text-dark" href="#favoriteFormateurs" role="tab" data-toggle="tab">Formateurs favorites ({{favoriteformateur|length}})</a>
            {% else %}
                <a class="nav-link text-dark" href="#favoriteFormateurs" role="tab" data-toggle="tab">Leurs Formateurs favorites ({{favoriteformateur|length}})</a>
            {% endif %}
        </li>
    </ul>

    <div class="tab-content bg-main">
        <div role="tabpanel" class="tab-pane show active" id="etudiant">
            <div class="container py-4">
                {% for payment in payments %}
                    {% if loop.index0 % 3 == 0 %}<div class="row mb-5">{% endif %}
                    <div class="col-4">
                        <div class="card">
                            <div style="position: relative;">
                                {% if  app.user == user %}
                                    <button class="btn favoriteFormation js-favorite" data-formation-id="{{payment.formation.id}}" style="position:absolute; right: 0">
                                        {% if user.isFormationFavorited(payment.formation) %}
                                            <i class="fas fa-heart fa-2x"></i>
                                        {% else%}
                                            <i class="far fa-heart fa-2x"></i>
                                        {% endif %}
                                    </button>
                                {% endif %}
                                <img class="card-img-top" style="width: 348px; height: 218px;" src="{{payment.formation.picture}}">
                                <div class="py-2 px-3 text-white bg-yellow" style="position:absolute; bottom: 0"><b>{{payment.formation.category}}</b></div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{payment.formation.title}}</h3>
                                <p class="card-text"> {{payment.formation.description}}</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <a href="{{path('landing_formation', {id: payment.formation.id})}}" class="btn btn-sm btn-outline-secondary mr-3">Voir la formation</a>
                                <small class="text-muted">{{ payment.formation.author.nickName }}</small>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 or loop.last%}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="formateur">
            <div class="container py-4">
                {% for formationcreated in formationscreated %}
                    {% if loop.index0 % 3 == 0 %}<div class="row mb-5">{% endif %}
                    <div class="col-4">
                        <div class="card">
                            <div style="position: relative;">
                                <img class="card-img-top" style="width: 348px; height: 218px;" src="{{ formationcreated.picture }}">
                                <div class="py-2 px-3 text-white bg-yellow" style="position:absolute; bottom: 0"><b>{{ formationcreated.category }}</b></div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{ formationcreated.title }}</h3>
                                <p class="card-text"> {{ formationcreated.description }}</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <a href="{{ path('landing_formation', {id: formationcreated.id}) }}" class="btn btn-sm btn-outline-secondary mr-3">Voir la formation</a>
                                {% if app.user == user %}
                                    <a href="{{ path('new2', {id: formationcreated.id}) }}" class="btn btn-sm btn-outline-secondary mr-3">Modifier la formation</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 or loop.last%}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="favoriteFormations">
            <div class="container py-4">
                {% for eachformation in favoriteformations %}
                    {% if loop.index0 % 3 == 0 %}<div class="row mb-5">{% endif %}
                    <div class="col-4">
                        <div class="card">
                            <div style="position: relative;">
                                {% if app.user == user %}
                                <button class="btn favoriteFormation js-favorite" data-formation-id="{{eachformation.id}}" style="position:absolute; right: 0">
                                    {% if user.isFormationFavorited(eachformation) %}
                                        <i  class="fas fa-heart fa-2x"></i>
                                    {% else %}
                                        <i  class="far fa-heart fa-2x"></i>
                                    {% endif %}
                                </button>
                                {% endif %}
                                <img class="card-img-top" style="width: 348px; height: 218px;" src="{{eachformation.picture}}">
                                <div class="py-2 px-3 text-white bg-yellow" style="position:absolute; bottom: 0"><b>{{eachformation.category}}</b></div>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">{{eachformation.title}}</h3>
                                <p class="card-text"> {{eachformation.description}}</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <a href="{{path('landing_formation', {id: eachformation.id})}}" class="btn btn-sm btn-outline-secondary mr-3">Voir la formation</a>
                                <small class="text-muted">{{ eachformation.author.nickName }}</small>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 or loop.last%}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="favoriteFormateurs">
            <div class="container py-4">
                {% for eachformateur in favoriteformateur %}
                    {% if loop.index0 % 3 == 0 %}<div class="row mb-5">{% endif %}
                    <div class="col-4">
                        <div class="card">
                            <div style="position: relative;">
                                {% if app.user == user %}
                                <button class="btn favoriteFormateur js-favorite" data-formation-id="{{eachformateur.id}}" style="position:absolute; right: 0">
                                    {% if user.isFormateurFavorited(eachformateur) %}
                                        <i  class="fas fa-heart fa-2x"></i>
                                    {% else %}
                                        <i  class="far fa-heart fa-2x"></i>
                                    {% endif %}
                                </button>
                                {% endif %}
                                <img class="card-img-top" src="{{eachformateur.profilePic}}">
                            </div>
                            <div class="card-body">
                                {% if eachformateur.name and eachformateur.firstName %}
                                    <h3 class="title">{{ eachformateur.firstName }} {{ eachformateur.name }} </h3>
                                {% else %}
                                    <h3 class="title">{{ eachformateur.nickName }}</h3>
                                {% endif %}
                                <p class="sub_title">{{ eachformateur.email }}</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <a href="{{path('profil', {id: eachformateur.id})}}" class="btn btn-sm btn-outline-secondary mr-3">Voir leur profil</a>
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 3 == 0 or loop.last%}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

<script>
    $(document).ready(function() {
        $('.favoriteFormation').click(function() {
           let icon = $(this).find("i");
            if (icon.hasClass("far")) {
                $.get('/user/favoriteformation', {
                    formationId: $(this).attr('data-formation-id'),
                    favorited: 0
                });
                return icon.removeClass("far").addClass("fas");
            } else {
                $.get('/user/favoriteformation', {
                    formationId: $(this).attr('data-formation-id'),
                    favorited: 1
                });
                return icon.removeClass("fas").addClass("far");
            }
        });
        $('.favoriteFormateur').click(function() {
            let icon = $(this).find("i");
            if (icon.hasClass("far")) {
                $.get('/user/favoriteformatuer', {
                    formateurId: $(this).attr('data-formateur-id'),
                    favorited: 0
                });
                return icon.removeClass("far").addClass("fas");
            } else {
                $.get('/user/favoriteformatuer', {
                    formateurId: $(this).attr('data-formateur-id'),
                    favorited: 1
                });
                return icon.removeClass("fas").addClass("far");
            }
        });
    });
</script>
{% endblock %}




