{% extends 'layout.html.twig' %}

{% block title %} Profil {% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/profile.css">{% endblock %}

{% block content %}
<h2>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</h2>
<body id="profile">
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-center ml-5">
            <div class="ml-1"><img src="{{ user.profilePic }} " style="height: 180px; width: 180px;"></div>
            <div class="d-flex mt-2">
                <button id="formationShowBought" class="btn btn-outline-primary waves-effect mr-1">Etudiant</button>
                <button id="formationShowCreated" class="btn btn-outline-primary waves-effect ml-1">Formateur</button>
            </div>
        </div>

        <div class="d-flex flex-column ml-5 profileinfo">
            {% if user.name %}
            <div class="d-flex p-2" ><label> Nom: </label><p class="pl-2"> {{ user.name }} </p></div>
            {% endif %}


            {% if  user.firstName %}
            <div class="d-flex p-2"><label> Prenom: </label><p class="pl-2"> {{ user.firstName }} </p></div>
            {% endif%}

            <div class="d-flex p-2"><label> Pseudo: </label><p class="pl-2"><p>{{ user.nickname }}</p></div>
            <div class="d-flex  p-2"><label> Email: </label><p class="pl-2"><p>{{ user.email }}</p></div>
        </div>
        {% if user == app.user %}
        <div class="d-flex flex-column ml-5 justify-content-between">

            <div class="d-flex flex-row">
                <div>
                    <a href="{{ path('update_profil') }}" role="button" aria-disabled="true">
                        <button class="btn btn-outline-primary waves-effect mr-1">Modifier mon Profil</button>
                    </a>
                </div>
                <div>
                    <a href="{{ path('update_password') }}" role="button" aria-disabled="true">
                        <button class="btn btn-outline-primary waves-effect mr-1">Modifier Password</button>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="d-flex flex-column ml-5 justify-content-around">
            {% endif %}
            <div> <button id="showFavoriteFormation" class="btn btn-outline-primary waves-effect ">Mes Formations</button></div>
            <div> <button id="showFavoriteFormateur" class="btn btn-outline-primary waves-effect ">Mes Formateurs</button></div>
        </div>

        <div class="d-flex flex-column ml-5 justify-content-center">
            {% if app.user != user %}
            <button data-formateur-id="{{ user.id }}" class="favoriteFormateur btn">
                {% if currentuser.isFormateurFavorited(user) %}
                    <i class="fas fa-heart fa-5x favorite"></i>
                {% else %}
                    <i class="far fa-heart fa-5x favorite"></i>
                {% endif %}
            </button>
            {% endif %}
        </div>

    </div>
<hr >
<div id="cree" >
    <h1>Formation Cree</h1>
    <div class="container formation">
        <div class="d-flex flex-column">
            {% for formationcreated in formationscreated %}
            {% if loop.index is odd %}
            <div class="row">
                {% endif %}
            <div class="col-6 mt-5">
                <div class="column">
                    <!-- Post-->
                    <div class="post-module">
                        <!-- Thumbnail-->
                        <div class="thumbnail">
                            <img src="{{ formationcreated.picture }}" class="img-responsive" alt=""> </div>
                        <!-- Post Content-->
                        <div class="post-content">
                            <div class="category">{{ formationcreated.category }}</div>
                            <h1 class="title">{{ formationcreated.id }} - {{ formationcreated.title}}</h1>
                            <h2 class="sub_title">{{ formationcreated.author.firstname}} {{ formationcreated.author.name}}</h2>
                            <p class="description"> {{ formationcreated.description }}</p>
                            <div class="post-meta">
                                <a href="{{ path('show', {id: formationcreated.id}) }}" class="btn btn-sm btn-outline-secondary waves-effect mr-3">Voir la formation</a>
                                <a href="{{ path('new2', {id: formationcreated.id}) }}" class="btn btn-sm btn-outline-secondary waves-effect mr-3">Modifier la formation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% if loop.index is even or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div id="bought">
    <h1>Formation Suivee</h1>
    <div class="container formation">
        <div class="d-flex flex-column">
            {% for payment in payments %}
                {% if loop.index is odd %}
                    <div class="row">
                {% endif %}
                <div class="col-6 mt-5">
                    <div class="column">
                        <!-- Post-->
                        <div class="post-module">
                            <!-- Thumbnail-->
                            <div class="thumbnail">
                                <img src="{{ payment.formation.picture }}" class="img-responsive" alt=""> </div>
                            <!-- Post Content-->
                            <div class="post-content">
                                <div class="category">{{ payment.formation.category }}</div>
                                <h1 class="title">{{ payment.formation.title}}</h1>
                                <h2 class="sub_title">{{ payment.formation.author.firstname}} {{ payment.formation.author.name}}</h2>
                                <p class="description"> {{ payment.formation.description }}</p>
                                <div class="post-meta">
                                    <a href="#" class="btn btn-sm btn-outline-secondary waves-effect mr-3">Voir la formation</a>
                                    <button class="favoriteFormation btn" data-formation-id="{{ payment.formation.id }}">
                                        {% if user.isFormationFavorited(payment.formation) %}
                                            <i id="favoriteFormation" class="fas fa-heart fa-2x"  style="color:Tomato"> </i>
                                        {% else %}
                                            <i id="favoriteFormation" class="far fa-heart fa-2x"  style="color:Tomato"> </i>
                                        {% endif %}

                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.index is even or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div id="favoriteFormations">
    <h1>Formation Favori</h1>
    <div class="container formation">
        <div class="d-flex flex-column">
            {% for eachformation in favoriteformations %}
                {% if loop.index is odd %}
                    <div class="row">
                {% endif %}
                    <div class="col-6 mt-5">
                        <div class="column">
                            <!-- Post-->
                            <div class="post-module">
                                <!-- Thumbnail-->
                                <div class="thumbnail">
                                    <img src="{{ eachformation.picture }}" class="img-responsive" alt=""> </div>
                                <!-- Post Content-->
                                <div class="post-content">
                                    <div class="category">{{ eachformation.category }}</div>
                                    <h1 class="title">{{ eachformation.title}}</h1>
                                    <h2 class="sub_title">{{ eachformation.author.firstname}} {{eachformation.author.name}}</h2>
                                    <p class="description"> {{ eachformation.description }}</p>
                                    <div class="post-meta">
                                        <a href="#" class="btn btn-sm btn-outline-secondary waves-effect mr-3">Voir la formation</a>
                                        <button class="favoriteFormation btn" data-formation-id="{{ eachformation.id }}">
                                            {% if user.isFormationFavorited(eachformation) %}
                                                <i id="favoriteFormation" class="fas fa-heart fa-2x"  style="color:Tomato"> </i>
                                            {% else %}
                                                <i id="favoriteFormation" class="far fa-heart fa-2x"  style="color:Tomato"> </i>
                                            {% endif %}

                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% if loop.index is even or loop.last %}
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>
</div>

<div id="favoriteFormateurs">
    <h1>Formateur Favori</h1>
    <div class="container formation">
        <div class="d-flex flex-column">
            {% for eachformateur in favoriteformateur %}
                {% if  loop.index0  % 3 == 0 %}
                    <div class="row">
                {% endif %}
                <div class="col-md-4 mt-5">
                    <div class="column">
                        <!-- Post-->
                        <div class="post-module">
                            <!-- Thumbnail-->
                            <div class="thumbnail">
                                <img src="{{ eachformateur.profilePic }}" class="img-responsive" alt=""> </div>
                            <!-- Post Content-->
                            <div class="post-content">
                                {% if eachformateur.name and eachformateur.firstName %}
                                    <h1 class="title">{{ eachformateur.firstName }} {{ eachformateur.name }} </h1>
                                {% else %}
                                    <h1 class="title">{{ eachformateur.nickName }}</h1>
                                {% endif %}
                                <h2 class="sub_title">{{ eachformateur.email }}</h2>
                                <div class="post-meta">
                                    <button class="favoriteFormateur btn" data-formateur-id=" {{ eachformateur.id }} ">
                                        {% if user.isFormateurFavorited(eachformateur) %}
                                            <i id="favoriteFormateur" class="fas fa-heart fa-2x"  style="color:Tomato"> </i>
                                        {% else %}
                                            <i id="favoriteFormateur" class="far fa-heart fa-2x"  style="color:Tomato"> </i>
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if loop.index is even or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.favoriteFormation').click(function() {
            var icon = $(this).find("i");
            if (icon.hasClass("far")) {
                $.get('/user/favoriteformation', {
                    formationId: $(this).attr('data-formation-id'),
                    favorited: 0
                });
                return icon.removeClass("far").addClass("fas");
            } else {
                $.get('/user/favoriteformation', {
                    formationId: $(this).attr('data-formation-id'),
                    favorited: 1
                });
                return icon.removeClass("fas").addClass("far");
            }
        });
        $('.favoriteFormateur').click(function() {
            var icon = $(this).find("i");
            if (icon.hasClass("far")) {
                $.get('/user/favoriteformatuer', {
                    formateurId: $(this).attr('data-formateur-id'),
                    favorited: 0
                });
                return icon.removeClass("far").addClass("fas");
            } else {
                $.get('/user/favoriteformatuer', {
                    formateurId: $(this).attr('data-formateur-id'),
                    favorited: 1
                });
                return icon.removeClass("fas").addClass("far");
            }
        });
    });
</script>
{% endblock %}




