{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %} Update Profil {% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css2/updateProfile.css">
    <link rel="stylesheet" href="/assets/css/style.css">

{% endblock %}


{% block content %}
    <body id="updateProfile">
    <div class="container-fluid ">
        <div class="row title mt-4 mb-4">
            <div class="col-md-12 mt-3">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h1 class="text-center FontTagLine">Mettre à jour mon profil</h1>
                    </div>

                </div>
            </div>
        </div>
        <div class="mb-3 container text-center">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nom</span>
                        </div>

                        {{ form_widget(form.name) }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Prénom</span>
                        </div>
                        {{ form_widget(form.firstName) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Pseudo</span>
                        </div>
                        {{ form_widget(form.nickname) }}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Email</label>
                        </div>
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="input-group mb-3">
                        {{ form_widget(form.profilePicFile) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-3">
                    <div>
                        {{ form_widget(form.plainPassword) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12 mb-4 mt-4 text-center">
                <button type="submit" class="btn btn-primary mt-4 btn-lg round" ><i class="far fa-save"></i> Update</button>
            </div>
        </div>
        {{ form_end(form) }}
        <hr>
    </div>

{% endblock %}
