{% block body %}


    <h3>l'utilisateur {{ userWhoRate.firstName }} {{ userWhoRate.name }} a attribué une note inférieur à 3 pour votre formation :</h3>
            <p>Formation concernée '{{ formation.title }}'.</p>
            <p>Auteur de la formation : {{ formation.author.firstname }} {{ formation.author.name }} </p>
            <p>Contactez l'utilisateur : {{ userWhoRate.email }}</p>

{% endblock %}