{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Contact{% endblock %}


{% block h1 %} Envoyez nous un message :{% endblock %}

{% block content %}



<div class="container-fluid bg-main mt-3" id="ContactUs">
    <div class="row">
        <div class="offset-2 col-md-8">
            <div class="containerSmall1">
                    <div class="row py-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_start(form) }}
                                <div class="input-icon-wrap">
                                    <span class="input-icon"><span class="fa fa-user"></span>
                                    {{ form_label(form.firstname) }}
                                    {{ form_widget(form.firstname) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-icon-wrap">
                                    <span class="input-icon"><span class="fa fa-user"></span>
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-icon-wrap">
                                    <span class="input-icon"><span class="fas fa-envelope"></span>
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Votre Message:</h4>
                    <div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.message) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 offset-3">
                        <input id="btn" style="float: right;" type="submit" class="px-4 py-3 my-5 text-nowrap text-truncate js-scrollTo Button1" value="Envoyer">
                    </div>
                                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
