{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block stylesheet %}{% endblock %}
{% block title %}Contact{% endblock %}

{% block content %}



<div class="container" id="ContactUs">
    <div class="row">
        <div class="col-md-12">
            <h1 class="contactTitle typo">Contactez-nous :</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="containerSmall1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_start(form) }}
                                <div class="input-icon-wrap">
                                    <span class="input-icon"><span class="fa fa-user"></span>
                                    {{ form_label(form.firstname) }}
                                    {{ form_widget(form.firstname) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-icon-wrap">
                                    <span class="input-icon"><span class="fa fa-user"></span>
                                        {{ form_label(form.name) }}
                                        {{ form_widget(form.name) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-icon-wrap">
                                    <span class="input-icon"><span class="fas fa-envelope"></span>
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4>Votre Message:</h4>
                    <div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.message) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 offset-3">
                        <input id="btn" type="submit" class="bottomBtn btn btn-primary btn-lg round" value="Envoyer message">
                    </div>
                                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
