{% extends 'layout.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block sub_header %}{% endblock %}

{% block content %}
    <header class="marketing bg-marketing text-center py-5">
        <h1 class="py-3 bg-white-semi_transparent">APPRENEZ <em class="text-dark">à votre rythme...</em></h1>
    </header>

    <div class="container pb-5" style="margin-top: -110px;">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card-deck text-center">
                    <div class="card">
                        <div class="card-header bg-brown h3">Formateur</div>
                        <div class="card-body">
                            <p class="card-text">Vous detenez un savoir faire ? Partagez le avec le monde entier et gagnez de l'argent.blabalbalbalablabla </p>
                            <a class="btn btn-lg Button1 btn-style my-3" href="{{ path('formateur') }}">Je veux former</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-brown h3">Apprenant</div>
                        <div class="card-body">
                            <p class="card-text">Aprenez à votre rythme, sans contrainte. Elargissez vos connaissances. Ouvrez vous de nouveaux horizons </p>
                            <a class="btn btn-lg Button1 my-3 js-scrollTo" href="{{ path('search') }}">Je veux apprendre</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'Front/search.widget.html.twig' %}

    <div class="container py-5 bg-brown">
        <h1 class="text-uppercase pb-3">Catégories</h1>
        <div class="card-columns">
            {%  for category in categories %}
                <div class="card">
                    <a href="{{ path('search', {'category_id': category.id}) }}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fas fa-plus fa-3x"></i>
                                <h5>{{ category.category }}</h5>
                            </div>
                        </div>
                        {# TODO checker images #}
                        <img class="card-img-top img-fluid" src="{{ category.picture|default('https://i.imgur.com/7qDiqn6.jpg?1') }}" alt="Card image cap">
                    </a>
                </div>
            {%  endfor %}
        </div>
    </div>

    <!-- FAQ-->
    <div class="py-5">
        <div class="container">
            <h1 class="text-uppercase pb-3">FAQ</h1>

            <div class="accordion">
                <div class="card">
                    <div class="card-header typo-main">
                        <h5 class="mb-0">
                            <button class="btn btn-link btn-style" data-toggle="collapse" data-target="#collapseOne">Est-ce qu'il y a des cours gratuits ?</button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header typo-main">
                        <h5 class="mb-0">
                            <button class="btn btn-link btn-style collapsed text-nowrap text-truncate" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Combien de temps dure une formation ?</button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header typo-main">
                        <h5 class="mb-0">
                            <button class="btn btn-link btn-style collapsed text-nowrap text-truncate" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Combien coute une formation ?</button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header typo-main">
                        <h5 class="mb-0">
                            <button class="btn btn-link btn-style text-nowrap text-truncate" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Est-ce que je peux reprendre une formation non terminée ?</button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Fin du FAQ -->

    <button class="btn scroll-top" data-scroll="up" type="button" style="position:fixed; bottom: 80px; right: 0">
        <i class="fa fa-chevron-up"></i>
    </button>

    <!-- -->

    <script>
        $('.counter').each(function() {
            var $this = $(this),
                countTo = $this.attr('data-count');
            $({ countNum: $this.text()}).animate({
                    countNum: countTo
                },
                {
                    duration: 2000,
                    easing:'linear',
                    step: function() {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function() {
                        $this.text(this.countNum);
                        //alert('finished');
                    }
                });
        });
    </script>

{% endblock %}
