
{% extends 'layout.html.twig' %}
{% form_theme contactForm 'bootstrap_4_layout.html.twig' %}
{% form_theme commentForm 'bootstrap_4_layout.html.twig' %}
{% block title %} Accueil formation {% endblock %}
{% block h1 %}{{ formation.title }}{% endblock %}


{% block content %}
    <body id="bodyLandingFormation">
    <div class="bg-grey py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="{{ formation.picture }}" alt="Card image cap" >
                            <div class="card-img-overlay">
                                <div class="card-title">
                                    <div class="fb-share-button mr-2 mb-2" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="large" data-mobile-iframe="true">
                                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Facebook</a>
                                    </div>
                                    <div>
                                        <a class="twitter-share-button mt-2 ml-2" href="https://twitter.com/intent/tweet?text=formation:" data-size="large">Tweet</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#" >Active</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="modal" data-target="#contact" data-whatever="@mdo">Contacter</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" data-toggle="modal" data-target="#comment" data-whatever="@mdo">Commentaire</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('signalFormation', {'id': formation.id}) }}">Signaler</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ formation.title }}</h5>
                                <small class="text-muted"><span>Crée par </span><span> le {{  formation.createdAt | date('d M Y') }}</span></small>
                                <p class="card-text">{{ formation.description  }}</p>
                                <div class="d-flex justify-content-around mb-5">
                                    <a class="btn btn-md btn-primary" href="{{ path('formation_Achat', {id: formation.id}) }}"><i class="fas fa-shopping-cart mr-1"></i>Acheter</a>
                                    <a class="btn btn-md btn-primary" href="{{ path('show', {'id': formation.id, 'page': formation_page.ordering}) }}"><i class="fas fa-angle-double-right mr-1"></i> Reprendre</a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-around">
                                    <span>
                                    Note :
                                        {% if average %}
                                            {{ average | round(1) }} / 5
                                        {% endif %}

                                    </span>
                                    <span>
                                        <a href="{{ path('rating', {'user_id':  app.user ,  'rate': 1, 'formation_id': formation.id }) }}" class="starColor tdcolor">
                                            {% if average >= 1%}
                                                <i class="fas fa-star"></i>
                                            {% else %}
                                                <i class="far fa-star"></i>
                                            {% endif %}
                                        </a>
                                        <a href="{{ path('rating', {'user_id':  app.user ,  'rate': 2, 'formation_id': formation.id }) }}" class="starColor">
                                            {% if average >= 1.5 and average <2%}
                                                <i class="fas fa-star-half"></i>
                                            {% elseif average >=2 %}
                                                <i class="fas fa-star"></i>
                                            {% else %}
                                                <i class="far fa-star"></i>
                                            {% endif %}
                                        </a>
                                        <a href="{{ path('rating', {'user_id':  app.user ,  'rate': 3, 'formation_id': formation.id }) }}" class="starColor">
                                            {% if average >= 2.5 and average <3 %}
                                                <i class="fas fa-star-half"></i>
                                            {% elseif average >=3 %}
                                                <i class="fas fa-star"></i>
                                            {% else %}
                                                <i class="far fa-star"></i>
                                            {% endif %}
                                        </a>
                                        <a href="{{ path('rating', {'user_id':  app.user ,  'rate': 4, 'formation_id': formation.id }) }}" class="starColor">
                                            {% if average >= 3.5 and average <4 %}
                                                <i class="fas fa-star-half"></i>
                                            {% elseif average >=4 %}
                                                <i class="fas fa-star"></i>
                                            {% else %}
                                                <i class="far fa-star"></i>
                                            {% endif %}
                                        </a>
                                        <a href="{{ path('rating', {'user_id':  app.user ,  'rate': 5, 'formation_id': formation.id }) }}" class="starColor">
                                            {% if average >= 4.5 and average <5%}
                                                <i class="fas fa-star-half"></i>
                                            {% elseif average >=5 %}
                                                <i class="fas fa-star"></i>
                                            {% else %}
                                                <i class="far fa-star"></i>
                                            {% endif %}
                                        </a>
                                    </span>
                                    <span>Prix : {{ formation.price }} €</span>
                                </div>
                                <div>
                                    {% if not average %}
                                        <p class ="ml-2">Soyez le premier à noter cette formation</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal start-->
    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modalLandingFormation" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contacter le formateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(contactForm) }}
                    <div class="form-group">
                        {{ form_label(contactForm.email) }}
                        {{ form_widget(contactForm.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(contactForm.objet) }}
                        {{ form_widget(contactForm.objet) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(contactForm.message) }}
                        {{ form_widget(contactForm.message) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" value="Envoyez"/>
                    </div>
                    {{ form_end(contactForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modalLandingFormation" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Commentaires</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        {{ form_start(commentForm) }}
                        {{ form_label(commentForm.comment) }}
                        {{ form_widget(commentForm.comment) }}
                        <input type="submit" class="btn btn-primary" value="Envoyez"/>
                        {{ form_end(commentForm) }}


                        {% for comment in comments %}
                            <strong class="pull-left primary-font">{{ comment.author }}</strong>
                            <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>{{ comment.createdAt|date('d-m-Y') }}</small>
                            <br>
                            <p class="ui-state-default text-center">
                                {{ comment.comment }}
                            </p>
                        {%  endfor %}
                        {{ knp_pagination_render(comments) }}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal end-->


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            let js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.0';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>window.twttr = (function(d, s, id) {
            let js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    </body>
{% endblock %}

