{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/search.css">{% endblock %}
{% block title %} Recherche {% endblock %}

{% block content %}
    <body>
   <div class="container">
        <div class="row searchbar pt-3 ">
            <div class="col-md-12 text-center">
                <div class="input-group mb-3">
                    <form method="Get" action="{{ path('search') }}">
                        <input type="text" id="search" name="search" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append text-align-center">
                            <a> <button class="btnSearch btn btn-secondary" type="submit"><i class="fas fa-search"></i></button></a>
                        </div>
                    </form>
                </div>
               <!-- <form action="" >
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Johnny" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btnSearch btn btn-primary" type="button"> <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form> !-->

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md-5" >
                <h2 class="searchTitle text-center mb-5 mt-5 typo"> Résultat de la recherche :</h2>
            </div>
        </div>
    </div>
<div class="container">
    {% for formation in formations %}
    {% if  loop.index0  % 3 == 0 %}
    <div class="row">
        {% endif %}
        <div class="col-md-4 mt-5">
            <div class="column">
                <!-- Post-->
                <div class="post-module">
                    <!-- Thumbnail-->
                    <div class="thumbnail">
                        <img src="{{  formation.picture }}" class="img-responsive" alt="">
                    </div>
                    <!-- Post Content-->
                    <div class="post-content">
                        <div class="category">{{ formation.category }}</div>
                        <h1 class="title">{{ formation.title }}</h1>
                        <h2 class="sub_title">par {{ formation.author.name }} {{  formation.author.firstName}}</h2>
                        <p class="description"> {{  formation.description }}</p>
                        <div class="post-meta">
                            <a href="{{ path('formation_show', {id: formation.id}) }}" class="btn btn-sm btn-outline-primary waves-effect mr-3">Voir la formation</a>
                            <button class="favoriteSearch btn" data-formation-id=" {{ formation.id }} ">
                                {% if user.isFormationFavorited(formation) %}
                                    <i id="favoriteSearch" class="fas fa-heart fa-2x"  style="color:Tomato"> </i>
                                {% else %}
                                    <i id="favoriteSearch" class="far fa-heart fa-2x"  style="color:Tomato"> </i>
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if loop.index % 3 == 0 %}

        {% endif %}
    {% endfor %}
    </div>

</div>

<div class="container">
   {{ knp_pagination_render(formations) }}
</div>
<script>
   $(document).ready(function() {
       $('.favoriteSearch').click(function() {
           var icon = $(this).find("i");
           if (icon.hasClass("far")) {
               $.get( '/user/favorite', {
                   formationId: $(this).attr('data-formation-id'),
                   favorited: false
               });
               return icon.removeClass("far").addClass("fas");
           } else {
               $.get( '/user/favorite', {
                   formationId: $(this).attr('data-formation-id'),
                   favorited: true
               });
               return icon.removeClass("fas").addClass("far");
           }
       });
   });
</script>

{% endblock %}
