{% extends 'layout.html.twig' %}
{% block title %} Recherche {% endblock %}

{% block h1 %}Je trouve ma formation{% endblock %}

{% block breadcrumb %}

{% endblock %}


{% block content %}
<div class="content mt-5">

    {% include 'Front/search.widget.html.twig' %}

    <div class="container py-4">

        {% if formations %}

            {% for formation in formations %}
                {% if loop.index0 % 3 == 0 %}<div class="row mb-5">{% endif %}
                <div class="col-4">
                    <div class="card">
                        <div style="position: relative;">
                            <button class="btn js-favorite" data-formation-id="{{ formation.id }}" style="position:absolute; right: 0">
                                {% if app.user %}
                                    {% if app.user.isFormationFavorited(formation) %}
                                        <i class="fas fa-heart fa-2x"></i>
                                    {% else %}
                                        <i class="far fa-heart fa-2x"></i>
                                    {% endif %}
                                {% endif %}
                            </button>
                            <img class="card-img-top" style="width: 348px; height: 218px;" src="{{ formation.picture }}">
                            <div class="py-2 px-3 text-white bg-yellow" style="position:absolute; bottom: 0"><b>{{ formation.category }}</b></div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ formation.title }}</h3>
                            <p class="card-text"> {{ formation.description }}</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <a href="{{ path('landing_formation', {id: formation.id}) }}" class="btn btn-sm btn-outline-secondary mr-3">Voir la formation</a>
                            <small   class="text-muted"><a href="{{ path('profil', {'id': formation.author.id}) }}" class="font-weight-bold" style="color: #4a394e">Créé par {{ formation.author.nickName }}</a></small>
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 %}</div>{% endif %}
            {% endfor %}

        <div class="row col-9 mt-5">
            {{ knp_pagination_render(formations) }}
        </div>

        {% endif %}

        {% if (search or id) and formations is empty %}
            <div class="text-center mb-5">
                <p class="h3 typo-main font-weight-bold">Votre recherche n'a donné aucun résultat</p>
            </div>
        {% endif %}

        <script>
           $(document).ready(function() {
               $('.js-favorite').click(function() {
                   let icon = $(this).find("i");
                   if (icon.hasClass("far")) {
                       $.get('/user/favoriteformation', {
                           formationId: $(this).attr('data-formation-id'),
                           favorited: 0
                       });
                       icon.removeClass("far").addClass("fas");
                   } else {
                       $.get('/user/favoriteformation', {
                           formationId: $(this).attr('data-formation-id'),
                           favorited: 1
                       });
                       icon.removeClass("fas").addClass("far");
                   }
               });
           });
        </script>
    </div>
</div>

{% endblock %}
