{% extends 'layout.html.twig' %}
{% block title %}Menu formation{% endblock %}

{% block h1 %}<p class="text-center">Je crée ma formation</p>{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pl-3">
            <li class="breadcrumb-item"><a class="typo-main text-center" href="{{ path('new',{'id': formation.id}) }}">Informations sur la Formation</a></li>
            <li class="breadcrumb-item active text-dark" aria-current="page"><a href="{{ path('create',{'id': formation.id}) }}" class="text-center typo-main">Choisir un type de page</a></li>
            <li class="breadcrumb-item"><a class="text-center typo-main">Ajouter du contenu</a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

    <div class="container pb-1 pt-4 bg-grey">
        <h3 class="typo-main font-weight-bold text-center"> Ajouter du contenu à ma formation</h3>
        <hr>
        <div class="row py-5">
            <div class="col-8 offset-2">
                <div class="card-deck text-center">
                    <div class="card">
                        <div class="card-header h3 bg-main">Nouvelle pages</div>
                        <div class="card-body">
                            <p class="card-text">Vous detenez un savoir faire ? Partagez le avec le monde entier et gagnez de l'argent.blabalbalbalablabla </p>
                            <a class="btn btn-lg btn-primary my-3" href="{{ path('new2', {'id': formation.id}) }}">Ajouter une page</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header h3 bg-main">Nouveau quiz</div>
                        <div class="card-body">
                            <p class="card-text">Aprenez à votre rythme, sans contrainte. Elargissez vos connaissances. Ouvrez vous de nouveaux horizons </p>
                            <a class="btn btn-lg btn-primary my-3" href="{{ path('quiz', {'id': formation.id}) }}">Ajoutere un quiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="offset-5 col-2 py-5">
            <a class="px-4 py-3 text-nowrap text-truncate text-white text-center Button1" href="{{ path('landing_formation', {'id' : formation.id}) }}" role="button">Terminer la formation</a>
        </div>
    </div>



{% endblock %}