{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'layout.html.twig' %}
{% block title %}Ajouter un quiz{% endblock %}

{% block h1 %}Je crée ma formation{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pl-3">
            <li class="breadcrumb-item"><p>Informations sur la Formation</p></li>
            <li class="breadcrumb-item active text-dark" aria-current="page"><a>Choisir un type de page</a></li>
            <li class="breadcrumb-item">Ajouter du contenu</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="container bg-second my-3">
        <div class="row">
            <div class="offset-1 col-9 mt-5">
                {{ form_start(form) }}

                 {% for i in 0..4 %}

                     {{ form_label(form.questions[i].content, 'Question '~ loop.index ) }}
                     {{ form_widget(form.questions[i].content) }}
                     <div class="ml-5 my-3">
                         {{ form_label(form.questions[i].responses[0].content, 'Réponse 1 :') }}
                         {{ form_widget(form.questions[i].responses[0].content) }}
                         <div class="ml-5 my-3">
                             {{ form_label(form.questions[i].responses[0].isValid) }}
                             {{ form_widget(form.questions[i].responses[0].isValid) }}
                         </div>
                         {{ form_label(form.questions[i].responses[1].content ,'Réponse 2 :') }}
                         {{ form_widget(form.questions[i].responses[1].content) }}
                         <div class="ml-5 my-3">
                             {{ form_label(form.questions[i].responses[1].isValid) }}
                             {{ form_widget(form.questions[i].responses[1].isValid) }}
                         </div>
                         {{ form_label(form.questions[i].responses[2].content,'Réponse 3 :') }}
                         {{ form_widget(form.questions[i].responses[2].content) }}
                         <div class="ml-5 my-3">
                             {{ form_label(form.questions[i].responses[2].isValid) }}
                             {{ form_widget(form.questions[i].responses[2].isValid) }}
                         </div>
                     </div>
                 {% endfor %}

                <input type="submit" class="btn Button1 my-5" style="float: right;" value="Suivant"/>

                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}