{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% extends 'layout.html.twig' %}
{% block title %}Ajouter un quiz{% endblock %}

{% block h1 %}Je crée ma formation{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pl-3">
            <li class="breadcrumb-item"><p>Informations sur la Formation</p></li>
            <li class="breadcrumb-item active text-dark" aria-current="page"><a>Choisir un type de page</a></li>
            <li class="breadcrumb-item">Ajouter du contenu</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_label(form.questions[0].content) }}
        {{ form_widget(form.questions[0].content) }}
            {{ form_label(form.questions[0].responses[0].content) }}
            {{ form_widget(form.questions[0].responses[0].content) }}
                {{ form_label(form.questions[0].responses[0].isValid) }}
                {{ form_widget(form.questions[0].responses[0].isValid) }}
            {{ form_label(form.questions[0].responses[1].content) }}
            {{ form_widget(form.questions[0].responses[1].content) }}
                {{ form_label(form.questions[0].responses[1].isValid) }}
                {{ form_widget(form.questions[0].responses[1].isValid) }}
            {{ form_label(form.questions[0].responses[2].content) }}
            {{ form_widget(form.questions[0].responses[2].content) }}
                {{ form_label(form.questions[0].responses[2].isValid) }}
                {{ form_widget(form.questions[0].responses[2].isValid) }}


    {{ form_widget(form.questions[0].responses[2].content) }}

    <h1> JOHN DOE DEV WILL DOE THIS LATER. </h1>

        <input type="submit" class="btn btn-primary" value="Envoyez"/>
    {{ form_end(form) }}
{% endblock %}