{% extends 'layout.html.twig' %}

{% block sub_header %}{% endblock %}

{% block stylesheet %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block title %} {{ page.formation.title }}{% endblock %}

{% block h1 %}{{ page.formation.title }}{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb pl-3">
            <li class="breadcrumb-item"><p>{{ page.formation.title }}</p></li>
            <li class="breadcrumb-item"><a>Page : {{ page.ordering+1 }}</a></li>
            <li class="breadcrumb-item"><a>{% if page.type == 0 %} Formation {% else %} Questionnaire {% endif %} </a></li>
        </ol>
    </nav>
{% endblock %}


{% block content %}

    {% if page.content %}
        <div class="row my-5">
            <div class="col-12">
                <div class="fr-view bg-main py-5">
                        {{ page.content | raw }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if page.questions %}
        <div class="container-fluid bg-main">
            <div class="row  my-4 py-4">
                <div class="offset-2 col-8">
                    <form action="#" method="get" style="border: 2px solid black;">
                        <div class="px-4 py-4">
                            {% for question in page.questions %}
                                <p> {{ question.content }}</p>
                                <div><input type="checkbox" id="response_q{{ loop.index0 }}_0" name="{{ question.id }}[]" value="{{ question.responses.0.id }}" {% if question.responses.0.checked %}checked{% endif %} /><label for="response_q{{ loop.index0 }}_0">{{ question.responses.0.content }}</label></div>
                                <div><input type="checkbox" id="response_q{{ loop.index0 }}_1" name="{{ question.id }}[]" value="{{ question.responses.1.id }}" {% if question.responses.1.checked %}checked{% endif %} /><label for="response_q{{ loop.index0 }}_1">{{ question.responses.1.content }}</label></div>
                                <div><input type="checkbox" id="response_q{{ loop.index0 }}_2" name="{{ question.id }}[]" value="{{ question.responses.2.id }}" {% if question.responses.2.checked %}checked{% endif %} /><label for="response_q{{ loop.index0 }}_2">{{ question.responses.2.content }}</label></div>
                                {% if page.quizSubmitted %}
                                    {% if question.valid %}
                                        <p> Bonne réponse</p>
                                    {% else %}
                                        <p>ERROR</p>
                                    {% endif %}
                                {% endif %}
                                <hr>
                            {% endfor %}
                        </div>
                        <input type="submit" class="px-4 py-3 mt-3 text-nowrap text-truncate js-scrollTo Button1"  style="float: right" value="Envoyer">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="mb-5">
        {% if formation.pageExist(page.ordering +1) and page.isQuizValid %}
            <a class="px-4 py-3 text-nowrap text-truncate js-scrollTo Button1" role="button" style="float: right;" href="{{ path('show', {'id': formation.id, 'page': page.ordering +1}) }}"> Page suivante </a>
        {% else %}
            <a class="px-4 py-3 text-nowrap text-truncate js-scrollTo Button1" role="button" style="float: right;" href="{{ path('landing_formation', {'id' : formation.id}) }}"> Terminer </a>
        {% endif %}

        {% if formation.pageExist(page.ordering -1) %}
            <a class="px-4 py-3 text-nowrap text-truncate js-scrollTo Button1" role="button" href={{ path('show', {'id': formation.id, 'page': page.ordering -1}) }}> Page précédente </a>
        {% else %}
            <a class="px-4 py-3 text-nowrap text-truncate js-scrollTo Button1" role="button" href="{{ path('landing_formation', {'id' : formation.id}) }}"> Retour à l'acceuil de la formation </a>
        {% endif %}
    </div>


{% endblock %}
