{% extends 'layout.html.twig' %}
{% block title %} Se connecter {% endblock %}
{% block h1 %}Connectez vous{% endblock %}

{% block content %}
<div class="content-login">
    {% if error %}
        <div class="font-weight-bold text-danger text-center" xmlns="http://www.w3.org/1999/html">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <section>
        <div class="container">
            <div class="row bg-second my-4">
                <div class=" offset-2 col-6 mt-5">
                    <form action="{{path('login')}}" method="post">
                        <!-- Champ email -->
                        <div class="form-group">
                            <span class="fas fa-envelope"></span>
                            <label for="Email1">Email</label>
                            <input type="email" class="form-control" id="Email1" name="_username" value="{{ last_username }}">
                        </div>

                        <!-- Champ mdp -->
                        <div class="form-group">
                            <i class="fas fa-key"></i>
                            <label for="Password">Mot de passe</label>
                            <input type="password" name="_password" class="form-control" id="Password">
                            <div class="mt-2">
                                <a href="{{ path('forgotPassword') }}">Mot de passe oublié ?</a>
                                <label class="form-check-label ml-1" style="float:right;" for="remember_me">Se souvenir de moi</label>
                                <input type="checkbox" class="mt-1" style="float:right;" id="remember_me" name="_remember_me">
                            </div>
                        </div>

                        <div class="form-group form-check pl-0">
                            <div class="row justify-content-center">
                                <div class="col-md-3">
                                    <button type="submit" class="btn-lg text-truncate Button1 my-3">Se connecter</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="offset-1 col-3 text-center my-5 pt-2 bg-second">
                    <p class="typo-main">Vous n'êtes jamais venu sur KnowAge ? Vous devez d'abord créer votre compte !</p>
                    <a href="{{ path('signup') }}" class="btn-block Button1 py-2 mt-1" role="button">Créer mon compte</a>
                </div>
            </div>

        </div>
    </section>

    <script>
        {% block toast %}
        toastr.options = {
            "positionClass": "toast-top-center",
            "showDuration": "500",
            "progressBar": true
        };
        {% endblock %}
    </script>
</div>
{% endblock %}


