{% extends 'layout.html.twig' %}
{% block title %} Se connecter {% endblock %}
{% block h1 %}SE CONNECTER{% endblock %}

{% block content %}
    {% if error %}
        <div xmlns="http://www.w3.org/1999/html">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <section>
        <div class="container">
            <div class="row align-item-center">
                <div class="col">

                    <form action="{{ path('login') }} " method="post">
                        <!-- Champ email -->
                        <div class="form-group">
                            <span class="fas fa-envelope"></span>
                            <label for="Email1">Email</label>
                            <input type="email" class="form-control" id="Email1" name="_username" value="{{ last_username }}" aria-describedby="emailHelp">
                        </div>

                        <!-- Champ mdp -->
                        <div class="form-group">
                            <i class="fas fa-key"></i>
                            <label for="Password">Mot de passe</label>
                            <input type="password" name="_password" class="form-control" id="Password">
                        </div>

                        <!-- Liens remember me / mdp forgotten -->
                        <div class="form-group form-check pl-0">
                            <div class="row justify-content-center">
                                <div class="col-md-3 text-center">
                                    <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me">
                                    <label class="form-check-label" for="remember_me">Se souvenir de moi</label>
                                </div>
                                <div class="col-md-3 text-center">
                                    <a href="{{ path('forgotPassword') }}">Mot de passe oublié</a>
                                </div>
                            </div>
                        </div>

                        <!-- Button submit / create compte-->
                        <div class="form-group form-check pl-0">
                            <div class="row justify-content-center">
                                <div class="col-md-3 text-center">
                                    <button type="submit" class="btn-block Button1 py-2 mt-1">Se connecter</button>
                                </div>
                                <div class="col-md-3 text-center">
                                    <a href="{{ path('signup') }}" class="btn-block Button1 py-2 mt-1" role="button">Créer son compte</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        {% block toast %}
        toastr.options = {
            "positionClass": "toast-top-center",
            "showDuration": "500",
            "progressBar": true
        };
        {% endblock %}
    </script>
{% endblock %}


