{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}S'inscrire{% endblock %}


{% block content %}
<div class="container-fluid bg_01">
    <div class="row loginSignupLigne1 no-gutters ">
        <div class="col-md-6 offset-md-3 borderTop"></div>
    </div>

    <div class="row no-gutters borderMid ligne2 ">
        <div class="col-md-6 offset-md-3">
            <div class="borderTable loginSignupLigne2 loginSignupformHover">

                <div class="form-row no-gutters ligneTable1 align-items-end">
                    <div class="col-md-8 offset-md-2 typo px-3">
                        <h2 class="text-white">S'inscrire</h2>
                    </div>
                </div>
                <div class="form-row no-gutters ligneTable2 align-items-center">
                    <div class="col-md-4 offset-md-2 mt-1 px-3">
                        {{ form_start(form) }}
                        {{ form_widget(form.nickname) }}
                    </div>
                    <div class="col-md-4 mt-1 px-3">
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="form-row no-gutters ligneTable3 align-items-center ">
                    <div class="col-md-4 offset-md-2 mt-1 px-3">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first) }}
                    </div>
                    <div class="col-md-4  mt-1 px-3">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second) }}
                    </div>

                    </div>
                <div class="form-row no-gutters ligneTable4 align-items-center signupButtonMargin ">
                    <div class="col-md-8 offset-md-2 mt-1 px-3 mb-1">
                        <button class="btn btn-block text-white btn-outline-secondary waves-effect" type="submit">S'inscrire</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row loginSignupLigne3 no-gutters ">
        <div class="col-md-6 offset-md-3 borderBot"></div>
    </div>
</div>
{% endblock %}

