{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}S'inscrire{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/login_signup.css">
{% endblock %}



{% block content %}
<div class="container-fluid bg_01">
    <div class="row ligne1 no-gutters ">
        <div class="col-md-6 offset-md-3 borderTop"></div>
    </div>

    <div class="row no-gutters borderMid ligne2 ">
        <div class="col-md-6 offset-md-3">
            <div class="borderTable ligne2" id="effect">

                <div class="form-row no-gutters ligneTable1 align-items-end">
                    <div class="col-md-8 offset-md-2 typo">
                        <h2>S'inscrire</h2>

                    </div>
                </div>
                <div class="form-row no-gutters ligneTable2 align-items-center">
                    <div class="col-md-4 offset-md-2 mt-1">
                        {{ form_start(form) }}
                        {{ form_label(form.nickname) }}
                        {{ form_widget(form.nickname) }}
                    </div>
                    <div class="col-md-4 mt-1">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="form-row no-gutters ligneTable3 align-items-center">
                    <div class="col-md-4 offset-md-2 mt-1">
                        {{ form_widget(form.plainPassword) }}

                    </div>
                    <div class="col-md-4 mt-1">
                        {{ form_widget(form.plainPassword.second) }}
                        {{ form_end(form) }}
                    </div>

                </div>
                <div class="form-row no-gutters ligneTable4 align-items-start">
                    <div class="col-md-4 offset-md-6 mt-1">
                        <button class="btn  btn-block text-white btn-outline-secondary waves-effect" type="submit">Register!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ligne3 no-gutters ">
        <div class="col-md-6 offset-md-3 borderBot"></div>
    </div>
</div>
{% endblock %}

